<mat-toolbar>
    <button mat-icon-button routerLink="/" class="navButton">My Quizzes</button>
    <button mat-icon-button routerLink="/play" class="navButton">Play</button>
    <span style="flex: auto"></span>  
    <button mat-icon-button *ngIf="!authService.isAuthenticated" routerLink="/register" class="navButton">Register</button>   
    <button mat-icon-button *ngIf="!authService.isAuthenticated" routerLink="/login" class="navButton">Login</button>   
    <button mat-icon-button *ngIf="authService.isAuthenticated" (click)="authService.logout()" class="navButton">Logout</button>
</mat-toolbar>